#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    gap: 30px;
}

canvas {
    width: 100vw;
    max-height: 70vh;
}